<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

</head>

<body>
    <div id="app" class="containerRegister">
        <div class="columns">
            <div class="column">
                <img class="imgRegister"
                src="https://media.discordapp.net/attachments/1079116062571892827/1079357386852143124/3d-business-young-woman-sitting-with-a-laptop-and-waving-her-hand.png">
            </div>
            <div class="column">
                <form action="login.html">
            
                    <h1 class="title txtRegister1">Register</h1>
                    <p class="txtName">Username</p>
                    <input v-model="profileName"  @input="validateUsername()"
                        class="input inputName" name="username" type="text" id="username" placeholder="Username" />
                    <span class="validateName has-text-danger"> {{error.profileName}}</span>
        
                    <p class="txtRegister">Email</p>
                    <input v-model="email" @input="validateEmail()" id="email" class="input input2" name="email" id="email"
                        type="email" placeholder="Email">
                    <span class="validateEmail has-text-danger"> {{error.email}}</span>
        
                    <p class="txtPassword1">Password</p>
                    <input v-model="password" @input="validatePassword()" class="input input3" name="password" id="pwd"
                        type="password" placeholder="Password">
                    <span class="validatePassword has-text-danger"> {{error.password}}</span>
        
                    <p class="txtConfirmPassword1">Confirm Password</p>
                    <input v-model="confirmpassword" @input="validateConfirmPassword()" class="input input4" id="confirmpassword"
                        name="confirmpassword" type="password" placeholder="Password">
                    <span class="validateConfirmPassword has-text-danger"> {{error.confirmpassword}}</span>
        
                    <button @click="submit()" value="Submit" type="submit" class="button signUp">Sign up</button>
                    <p class="subtitle txtFavourite">Favourite Types</p>
                    <div class="control checkbox0">
                        <label class="radio">
                            <input type="checkbox" class="checkbook">
                            Book
                        </label>
                        <label class="radio">
                            <input type="checkbox" class="checkmusic">
                            Music
                        </label>
                        <label class="radio">
                            <input type="checkbox" class="checkmovie">
                            Movie
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            profileName: '',
            password: '',
            email: '',
            confirmpassword: '',
            error: {
                profileName: '',
                password: '',
                email: '',
                confirmpassword: '',
            },
        },
        methods: {
            validateUsername() {
                if (this.profileName.length > 15) {
                    this.error.profileName = 'ชื่อต้องมีความยาวไม่เกิน15ตัวอักษร'
                    return
                }
                if (this.profileName === '') {
                    this.error.profileName = 'โปรดกรอกชื่อ'
                    return
                }
                this.error.profileName = ''
            },
            validateEmail() {
                if (this.email === '') {
                    this.error.email = 'โปรดกรอกอีเมล'
                    return
                }
                this.error.email = ''
            },
            validatePassword() {
                if (this.password === '') {
                    this.error.password = 'โปรดกรอกรหัสผ่าน'
                    return

                }
                if (this.password.length < 8) {
                    this.error.password = 'รหัสต้องไม่ต่ำกว่า8ตัวอักษร'
                    return
                }
                this.error.password = ''

            },
            validateConfirmPassword() {
                if (this.confirmpassword !== this.password) {
                    this.error.confirmpassword = 'รหัสผ่านไม่ตรงกัน'
                    return

                }
                this.error.confirmpassword = ''


            },
            submit() {
                if (this.profileName === '' || this.error.profileName !== '' || this.email === '' || this.error.email !== '' || this.error.password !== '' || this.password === '' || this.error.confirmpassword !== '' || this.confirmpassword === '') {
                    alert('กรุณาแก้ไข')
                    return
                }
                var email = document.getElementById('email').value;  //รับค่าเข้าlocal storage
                var pass = document.getElementById('pwd').value;
                var username = document.getElementById('username').value;

                localStorage.setItem('userEmail', email);
                localStorage.setItem('userPwd', pass);
                localStorage.setItem('userName', username);





            },

        }
    })


</script>

</html>